@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundLight: #FFEDDF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroundDark: #0D1321;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: (var(--backgroundLight))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
